<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Добавить кота!</title>
    </head>
    <body>
        <form action="/cat_o_log/get_cat" method="get">
            <h3><strong>Ваше имя:</strong></h3>
            <input type="text" name="name" /><br>
            <h3><strong>Ссылка на картику вашего кота:</strong></h3>
            <input type="text" name="link" /><br>
            <h3><strong>Описания вашего кота или вашей кошки:</strong></h3>
            <textarea type=text name="description" rows = "3" cols="80">Описание вашего кота.</textarea>
            <button><h3>Добавить кота.</h3></button>
        </form>
    </body>
</html>
