<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Rectangular prism</title>
</head>
<body>

<form action="/calculator/surface_area/rectangular_prism/calculate_it" method="get">
    <strong>Длина:</strong> <input type="text" name="l" /><br>
    <strong>Ширина:</strong> <input type="text" name="w" /><br>
    <strong>Высота:</strong> <input type="text" name="h" /><br>
    <button>Пошитать!</button>
</form>

</body>
</html>