<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Surface areas</title>
</head>
<body>
<ul>
    <li>
        <a href="http://127.0.0.1:5000/calculator/surface_area/cube"> Куб.</a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://127.0.0.1:5000/calculator/surface_area/rectangular_prism"> Коробка (не куб).</a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://127.0.0.1:5000/calculator/surface_area/shpere"> Сфера.</a>
    </li>
</ul>
<ul>
    <li>
        <a href="http://127.0.0.1:5000/calculator/surface_area/сylinder"> Цылиндыр.</a>
    </li>
</ul>
</body>
</html>